main {
    width: 100%;
    position: relative;
    background:
        fixed url(../img/sathy/fondo-web-01-01-02.jpg) top no-repeat,
        fixed #fff5;
    /* background-attachment: fixed, fixed; */
    background-size: cover;
    background-blend-mode: color;
    padding: 40px 0 120px 0;
}

.webp main {
    background:
        fixed url(../img/sathy/fondo-web-01-01-02.webp) top no-repeat,
        fixed #fff5;
    /* background-attachment: fixed, fixed; */
}

@media (prefers-color-scheme: dark) {
    main {
        background:
            fixed url(../img/sathy/fondo-web-01-01-02.jpg) top no-repeat,
            fixed #0006;
        /* background-attachment: fixed, fixed; */
    }

    .webp main {
        background:
            fixed url(../img/sathy/fondo-web-01-01-02.webp) top no-repeat,
            fixed #0006;
        /* background-attachment: fixed, fixed; */
    }
}
