main {
    padding: 40px 0 120px 0;
    position: relative;
    z-index: 20;
}
/* The background is applied to a position: fixed pseudo element to work around
 * background-attachment: fixed not working on iOS and mobile devices
 */
main::before {
    width: 100vw;
    width: 100lvw;
    height: 100vh;
    height: 100lvh;
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    z-index: 10;
    background:
        url(../img/sathy/fondo-web-01-01-02.jpg) top no-repeat,
        #fff5;
    background-size: cover !important;
    background-blend-mode: color;
}

.webp main::before {
    background:
        url(../img/sathy/fondo-web-01-01-02.webp) top no-repeat,
        #fff5;
}

@media (prefers-color-scheme: dark) {
    main::before {
        background:
            url(../img/sathy/fondo-web-01-01-02.jpg) top no-repeat,
            #0006;
}

    .webp main::before {
        background:
            url(../img/sathy/fondo-web-01-01-02.webp) top no-repeat,
            #0006;
    }
}
