body {
    background:
        fixed url(../img/sathy/biodescodificacion_constelaciones_en_cordoba_alicia_rey_fondo-web-01-01.jpg) center bottom no-repeat,
        #0001;
    background-size: cover;
    background-blend-mode: color;
}

.webp body {
    background:
        fixed url(../img/sathy/biodescodificacion_constelaciones_en_cordoba_alicia_rey_fondo-web-01-01.webp) center bottom no-repeat,
        #0001;
}

@media (prefers-color-scheme: dark) {
    body {
        background:
            fixed url(../img/sathy/biodescodificacion_constelaciones_en_cordoba_alicia_rey_fondo-web-01-01.jpg) center bottom no-repeat,
            #000a;
    }

    .webp body {
        background:
            fixed url(../img/sathy/biodescodificacion_constelaciones_en_cordoba_alicia_rey_fondo-web-01-01.webp) center bottom no-repeat,
            #000a;
    }
}
