@tailwind components;

main {
    z-index: 20;
    position: relative;
}

@layer components {
    body::after {
        @apply bg-gradient-to-b from-orange to-skin;

    }
}

body::after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    z-index: 10;
    background-color: #eee !important;
    background-blend-mode: color;
}

@media (prefers-color-scheme: dark) {
    body::after  {
        background-color: #000a !important;
    }
}
